.search-input {
    border: none;
}
.search-input-focus {
}
.search-input-input {
    display: block
    margin-top: -15px;
}
.enyo-header {
    height: 35px;
    min-height: 35px;
}
.enyo-header-inner {
    min-height: 35px;
    padding: 2px;
    padding-left: 10px;
}
ul.dict {
    padding: 10px;
    margin: 0px;
    list-style: none;
}
ul.dict li {
    margin-top: 10px;
    float: left;
    clear: both;
}
ul.dict span {
    float: left;
    clear: both;
}
.bookname {
    color: #AA0000;
    border-bottom: 2px solid #cccccc;
}
.word {
    color: #AAAA00;
    font-weight: bold;
}
